/* GENERAL */

:root {
    --rosso-sagra: #9d252a;
    --light-color: white;
    --dark-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* h1 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */

h1 {
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--rosso-sagra);
    font-size: 28px;
    text-align: center;
}  

h2,
p {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h2 {
    font-size: 22px;
    font-weight: bold;
}

a {
    color: var(--rosso-sagra);
}

.visible {
    display: visible;
}
.hidden {
    visibility: hidden;
}

.no-scroll {
    overflow: hidden;
}


/* HEADER */

.header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: var(--light-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    z-index: 99;
}

.header .logo {
    height: 60px;
}
.header .logo img {
    height: 100%;
}

.header .hamburger {
    position: absolute;
    align-content: center;
    top: 0;
    right: 30px;
    height: 80px;
    font-size: 28px;
    color: var(--rosso-sagra);
}


/* NAVIGATION */
.navigation {
    width: 0;
    height: calc(100vh - 80px);
    position: fixed;
    top: 80px;
    right: 0;
    overflow: hidden;

    background-color: var(--light-color);

    transition: 0.5s ease;
}
.navigation.expanded {
    width: 100vw;
}

.nav-content {
    width: 100vw;
    overflow: hidden;
}
.nav-content ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.nav-link {
    color: var(--dark-color);
    font-size: 22px;
}

.nav-link.active {
    background: none !important;
    color: var(--rosso-sagra) !important;
}


/* CONTENT */

.page-content{
    width: 100%;
    max-width: 700px;
    height: 100%;
    margin: auto;
    /* margin-top: 80px; */
    padding: 120px 30px;
    padding-bottom: 0;
}


/* MENU */

.menu-content h1 {
    margin-bottom: 20px;
}

.categoria {
    padding-top: 30px;
}

.categoria-titolo::after {
    content: '';
    display: block;
    width: 60%;
    border: 1.5px solid var(--rosso-sagra);
}

.categoria-content {
    padding: 20px;
}

.piatto {
    width: 100%;
    margin-bottom: 5px;
}
.piatto p {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.piatto .prezzo:not(.no-euro):before {
    content: '€ ';
}